h2 {
  text-align: center;
}

#qr, #qr a, #buttons {
  display: table;
  margin: 0 auto;
}

#qr img {
  display: block;
  width:;
}

#buttons {
  margin-top: 2em;
}

#pre-container {
  margin-top: 2em;
  border-top: thin grey solid;
}